<style>
    body{
        background: #31d2f2;
    }
  #content{
width: 60px;
      height: 60px;
      margin-top: 200px;
      margin-left: 500px;
  }
  #A{
     width: 500px;
      height: 20px;
  }
    #B{
        width: 500px;
        height: 50px;
        text-align: left;
    }
</style>